.DS_Store
.idea/
.vscode/
charts/**/charts/

# Terraform local state and secrets
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.kubeconfig
