apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ pgbouncer_deployment_name }}
  namespace: {{ hapi_namespace }}
  labels:
    app.kubernetes.io/name: hapi-fhir-pgbouncer
    app.kubernetes.io/part-of: hapi-fhir
spec:
  replicas: {{ pgbouncer_replica_count }}
  selector:
    matchLabels:
      app.kubernetes.io/name: hapi-fhir-pgbouncer
      app.kubernetes.io/part-of: hapi-fhir
  template:
    metadata:
      labels:
        app.kubernetes.io/name: hapi-fhir-pgbouncer
        app.kubernetes.io/part-of: hapi-fhir
    spec:
      containers:
        - name: pgbouncer
          image: "{{ pgbouncer_image }}"
          envFrom:
            - configMapRef:
                name: {{ pgbouncer_configmap_name }}
          env:
            - name: DB_USER
              value: "{{ lab_database_username }}"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ hapi_database_secret_name }}"
                  key: "{{ hapi_database_secret_key }}"
            - name: DB_HOST
              value: "{{ lab_database_endpoint }}"
            - name: DB_PORT
              value: "{{ lab_database_port }}"
            - name: DB_NAME
              value: "{{ lab_database_name }}"
            - name: LISTEN_PORT
              value: "{{ pgbouncer_listen_port }}"
          ports:
            - name: postgres
              containerPort: {{ pgbouncer_listen_port }}
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: postgres
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            tcpSocket:
              port: postgres
            initialDelaySeconds: 10
            periodSeconds: 20
            failureThreshold: 5
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
